.page {
    display: grid;
    grid-template: 40px auto / 1fr 4fr;
}

.statusbar {
    display: flex;
    justify-content: flex-end;
    grid-column: span 2;
    gap: 5px;
    background-color: azure;
}

.statusitem {
    border: 2px solid blue;
    background-color: aqua;
}

.sidebar {
    display: flex;
    background: green;
    flex-direction: column;
    gap: 10px;
}

.mainarea {
    margin-left: 20%;
    background: aquamarine;
}

.sidelink {
    background: lightgreen;
    border: 2px solid black;
    text-align: center;
}
