.page {
    display: grid;
    grid-template: 10% 90% / 20% 80%;
}

.statusbar {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    grid-column: span 2;
    background-color: azure;
}

.statusitem {
    border: 2px solid blue;
    background-color: aqua;
}

.sidebar {
    display: flex;
    height: 100%;
    width: 20%;
    background: green;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
}

.mainarea {
    height: 100%;
    margin-left: 20%;
    background: aquamarine;
}

.sidelink {
    background: lightgreen;
    border: 2px solid black;
    text-align: center;
}