.sidebar {
    display: flex;
    width: 20%;
    border: 1px solid darkgreen;
    flex-direction: column;
    justify-content: space-around;
}

.mainarea {
    margin: 20%;
    background: aquamarine;
}